/**
 * Objective: ...
 * 
 * Description: ...
 * 
 * @version 1.0.0
 * @author usuario, 15/09/2020, 19:10:50
 * Last update: -
 */

:root {
    --topo: #9abff1e3;
}

body{
	padding: 2rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}


.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}


.card-title {
  margin-bottom: 0.75rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: var(--topo);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
